In [71]:
# 2021-05, Christoph Meier, https://github.com/chrisP-cpmr
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

import pandas as pd

pd.set_option('precision', 3)
pd.set_option('max_rows', 20)
pd.set_option('max_colwidth', 30)

# Load and analyse data

Read the .csv file

In [72]:
weeklyCharts = pd.read_csv("Hitparade.ch_2010_src_dirty.csv",
                          encoding='UTF-8',
                          parse_dates=[' Week'])

In [73]:
weeklyCharts.sample(10)

          VW                 ArtistAndTitle  WeeksAndPeak   Rank       Week
35325  VW 72  Drake</b><br/>Nice For Wha...    W 12 | P 7     76 2018-01-07
34318     re  Sigala &amp; Paloma Faith<...    W 2 | P 52     69 2018-04-22
43518  VW 58   Gzuz</b><br/>Vor der Tür</a>    W 5 | P 16     69 2020-01-26
5052   VW 24  Bruno Mars</b><br/>Just Th...    W 21 | P 3     28 2011-04-24
50157  VW 70  Sunrise Avenue</b><br/>I H...   W 18 | P 16     80 2018-01-14
38258    neu  Azet &amp; Zuna</b><br/>We...     W 1 | P 9      9 2019-01-27
23196  VW 20  The Weeknd</b><br/>Can't F...    W 23 | P 8     22 2015-12-27
3885   VW 52  Marc Sway</b><br/>Din Enge...    W 3 | P 48     61 2010-12-26
4056    VW 7  Aloe Blacc</b><br/>I Need ...    W 23 | P 5      7 2011-01-23
44997  VW 36  Vicetone &amp; Tony Igy</b...    W 5 | P 36     48 2020-10-05

In [74]:
weeklyCharts.head(5)

      VW                 ArtistAndTitle  WeeksAndPeak   Rank       Week
0   VW 1  Melanie Fiona</b><br/>Mond...    W 10 | P 1      1 2010-03-01
1   VW 2  Rihanna</b><br/>Russian Ro...     W 6 | P 2      2 2010-03-01
2   VW 3  The Black Eyed Peas</b><br...    W 10 | P 3      3 2010-03-01
3  VW 10  Jay-Z + Alicia Keys</b><br...    W 14 | P 4      4 2010-03-01
4   VW 7  OneRepublic</b><br/>All Th...     W 9 | P 2      5 2010-03-01

In [68]:
weeklyCharts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50300 entries, 0 to 50299
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   VW               50300 non-null  object
 1    ArtistAndTitle  50300 non-null  object
 2    WeeksAndPeak    50280 non-null  object
 3    Rank            50300 non-null  int64
 4    Week            50300 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.9+ MB

In [66]:
weeklyCharts.describe()

            Rank
count  50300.000
mean      43.946
std       26.099
min        1.000
25%       22.000
50%       43.000
75%       64.000
max      100.000

In [69]:
weeklyCharts.columns

Index(['VW', ' ArtistAndTitle', ' WeeksAndPeak', ' Rank', ' Week'], dtype='object')

In [70]:
weeklyCharts.loc[weeklyCharts[' WeeksAndPeak'] == '200']

          VW                 ArtistAndTitle  WeeksAndPeak   Rank       Week
50290  VW 24  Kygo feat. Conrad</b><br/>...           200     26 2015-08-23
50291    neu  Huky</b><br/>Kids Of The S...           200     57 2017-08-27
50292     re  YNW Melly</b><br/>Suicidal...           200     76 2020-03-22
50293  VW 30  Rihanna</b><br/>Love On Th...           200     29 2017-03-26
50294    neu  DJ Antoine feat. Akon</b><...           200      8 2015-12-07
50295    neu  Rita Ora</b><br/>How We Do...           200     41 2012-10-14
50296  VW 16  Bonez MC &amp; RAF Camora<...           200     21 2018-10-28
50297   VW 2  Avicii</b><br/>Wake Me Up!...           200      3 2013-10-27
50298     re  Müslüm</b><br/>Süpervitami...           200     55 2012-07-10
50299  VW 47  Flo Rida</b><br/>My House</a>           200     38 2016-02-14

In [46]:
weeklyCharts.columns

Index(['VW', ' ArtistAndTitle', ' WeeksAndPeak', ' Rank', ' Week'], dtype='object')

# Data Preparation

### Create new columns

Add four new columns Artist + Title + Week + Peak

In [47]:
weeklyCharts['Artist'] = weeklyCharts[' ArtistAndTitle']
weeklyCharts['Title'] = weeklyCharts[' ArtistAndTitle']
weeklyCharts['Week(s) in Charts'] = weeklyCharts[' WeeksAndPeak']
weeklyCharts['Peak'] = weeklyCharts[' WeeksAndPeak']

In [48]:
weeklyCharts.columns

Index(['VW', ' ArtistAndTitle', ' WeeksAndPeak', ' Rank', ' Week', 'Artist',
       'Title', 'Week(s) in Charts', 'Peak'],
      dtype='object')

### Remove unneeded columns

Remove two columns from data frame (' ArtistAndTitle' + ' WeeksAndPeak')

In [49]:
del weeklyCharts[' ArtistAndTitle']
del weeklyCharts[' WeeksAndPeak']

In [50]:
weeklyCharts.columns

Index(['VW', ' Rank', ' Week', 'Artist', 'Title', 'Week(s) in Charts', 'Peak'], dtype='object')

## Clean individual Columns

Remove the Peak from the "Week(s) in Charts" column

In [13]:
weeklyCharts["Week(s) in Charts"] = weeklyCharts["Week(s) in Charts"].map(lambda n: str(n).split("|")[0])

Remove the week from the "Peak" column

In [14]:
weeklyCharts["Peak"] = weeklyCharts["Peak"].map(lambda n: str(n).split("|")[1])

In [15]:
weeklyCharts["Peak"].sample(10)

27375     P 24
25696     P 16
1551      P 30
27346     P 97
22427      P 1
10970     P 17
6798      P 10
32387     P 38
32103     P 10
37326     P 14
Name: Peak, dtype: object

Remove "W" and "P" from "Week(s) in Charts" and "Peak"

In [16]:
weeklyCharts["Week(s) in Charts"] = weeklyCharts["Week(s) in Charts"].str.replace('W ','',regex=True)
weeklyCharts["Week(s) in Charts"].sample(10)

39651     1
20891     8
30416    21
2624      7
5543     21
16330     1
36266    14
45224    29
41358    16
20036    25
Name: Week(s) in Charts, dtype: object

In [17]:
weeklyCharts["Peak"] = weeklyCharts["Peak"].str.replace('P ','',regex=True)
weeklyCharts["Peak"].sample(10)

35434     50
37089     26
37385      1
41967      3
28853      3
20527     21
13931     23
7735       7
34128     44
25507      8
Name: Peak, dtype: object

How does our data look at the moment?
Looks like we still need to clean the column "VW", "Artist" and "Title"

In [18]:
weeklyCharts.sample(10)

,VW,Rank,Week,Artist,Title,Week(s) in Charts,Peak
45225,VW 80,76,2020-05-24,Sam Feldt feat. Rani</b><b...,Sam Feldt feat. Rani</b><b...,30,59
5450,VW 43,51,2011-05-29,Israel IZ Kamakawiwo'ole</...,Israel IZ Kamakawiwo'ole</...,36,3
330,VW 33,31,2010-01-31,The Black Eyed Peas</b><br...,The Black Eyed Peas</b><br...,40,4
6099,VW 25,25,2011-07-31,Katy Perry</b><br/>Last Fr...,Katy Perry</b><br/>Last Fr...,5,20
48636,VW 72,87,2021-04-18,Tones And I</b><br/>Fly Aw...,Tones And I</b><br/>Fly Aw...,16,30
23527,VW 44,53,2016-01-24,Felix Jaehn feat. Jasmine ...,Felix Jaehn feat. Jasmine ...,42,5
48561,VW 11,12,2021-04-18,Zoe Wees</b><br/>Girls Lik...,Zoe Wees</b><br/>Girls Lik...,13,3
41026,VW 93,77,2019-04-08,Sarah Connor</b><br/>Vince...,Sarah Connor</b><br/>Vince...,9,38
2084,VW 57,60,2010-11-07,Lady Gaga</b><br/>Bad Roma...,Lady Gaga</b><br/>Bad Roma...,34,2
27410,VW 40,61,2016-12-25,Remady &amp; Manu-L</b><br...,Remady &amp; Manu-L</b><br...,7,14

In [19]:
weeklyCharts["VW"].value_counts()

neu       4765
re        2649
VW 1       590
VW 2       589
VW 7       588
          ...
VW 95       88
VW 98       87
VW 97       85
VW 99       84
VW 100      72
Name: VW, Length: 102, dtype: int64

1) First we will remove the "VW"

In [20]:
weeklyCharts["VW"] = weeklyCharts["VW"].str.replace('VW ','',regex=True)
weeklyCharts["VW"].value_counts()

neu    4765
re     2649
1       590
2       589
5       588
       ...
95       88
98       87
97       85
99       84
100      72
Name: VW, Length: 102, dtype: int64

2) Second, we rename the values "neu" to "new" and "re" to "returned"

In [21]:
weeklyCharts["VW"] = weeklyCharts["VW"].str.replace('neu','New',regex=True)
weeklyCharts["VW"] = weeklyCharts["VW"].str.replace('re','Return',regex=True)
weeklyCharts["VW"].value_counts()

New       4765
Return    2649
1          590
2          589
5          588
          ...
95          88
98          87
97          85
99          84
100         72
Name: VW, Length: 102, dtype: int64

Now we need to clean the "Artist" and "Title" column

In [22]:
weeklyCharts.sample(10)

,VW,Rank,Week,Artist,Title,Week(s) in Charts,Peak
24157,9,8,2016-03-27,Coldplay</b><br/>Hymn For ...,Coldplay</b><br/>Hymn For ...,10,8
7629,47,55,2011-12-18,Cobra Starship feat. Sabi<...,Cobra Starship feat. Sabi<...,5,47
21285,49,61,2015-06-28,Tiësto &amp; KSHMR feat. V...,Tiësto &amp; KSHMR feat. V...,3,31
11730,36,31,2013-01-20,Triggerfinger</b><br/>I Fo...,Triggerfinger</b><br/>I Fo...,26,17
31767,20,18,2017-10-29,Kygo feat. Justin Jesso</b...,Kygo feat. Justin Jesso</b...,5,9
11660,35,36,2013-01-13,Triggerfinger</b><br/>I Fo...,Triggerfinger</b><br/>I Fo...,25,17
28261,11,12,2017-02-26,77 Bombay Street</b><br/>E...,77 Bombay Street</b><br/>E...,13,11
35065,8,16,2018-06-17,Shawn Mendes</b><br/>In My...,Shawn Mendes</b><br/>In My...,13,5
16058,12,9,2014-02-03,Klingande</b><br/>Jubel</a>,Klingande</b><br/>Jubel</a>,23,1
37488,31,39,2018-02-12,Lady Gaga &amp; Bradley Co...,Lady Gaga &amp; Bradley Co...,8,14

In [23]:
weeklyCharts["Artist"] = weeklyCharts["Artist"].map(lambda n: str(n).split("<br/>")[0])
weeklyCharts["Artist"] = weeklyCharts["Artist"].str.replace('</b>','',regex=True)

In [24]:
weeklyCharts["Title"] = weeklyCharts["Title"].map(lambda n: str(n).split("<br/>")[1])

In [25]:
weeklyCharts["Title"].sample(5)

38654                       DNA</a>
23191               Marvin Gaye</a>
48666               Without You</a>
36816                       UFF</a>
14664    We Will Never Grow Old</a>
Name: Title, dtype: object

In [26]:
weeklyCharts["Title"] = weeklyCharts["Title"].str.replace('</a>','',regex=True)

In [27]:
weeklyCharts["Title"].sample(20)

9277                         Hangover
26942                        Too Good
11798    She Wolf (Falling To Pieces)
25288            Hymn For The Weekend
43988                         Feel Me
18079                      Chandelier
16299                         Animals
33014                       My My My!
1468                     It No Pretty
34030      Mi gna (Maître Gims Remix)
16674                  Dernière danse
30473                        Alperose
28406                Don't Wanna Know
10709                        Titanium
12653                        Daylight
37040                            Fall
31733                          Issues
21596                           Bills
27338                           Hurts
7853                        5 O'Clock
Name: Title, dtype: object

In [28]:
weeklyCharts.sample(2)

,VW,Rank,Week,Artist,Title,Week(s) in Charts,Peak
7748,31,24,2012-08-01,David Guetta feat. Sia,Titanium,20,10
37657,22,8,2018-12-16,Imagine Dragons,Bad Liar,5,8

In [31]:
weeklyCharts = weeklyCharts.rename(columns = {"VW": "PW"}, inplace=False)

In [32]:
weeklyCharts

,PW,Rank,Week,Artist,Title,Week(s) in Charts,Peak
0,1,1,2010-03-01,Melanie Fiona,Monday Morning,10,1
1,2,2,2010-03-01,Rihanna,Russian Roulette,6,2
2,3,3,2010-03-01,The Black Eyed Peas,Meet Me Halfway,10,3
3,10,4,2010-03-01,Jay-Z + Alicia Keys,Empire State Of Mind,14,4
4,7,5,2010-03-01,OneRepublic,All The Right Moves,9,2
...,...,...,...,...,...,...,...
50245,37,37,2011-09-01,Nelly,Just A Dream,16,22
50246,1,1,2011-01-23,Duck Sauce,Barbra Streisand,12,1
50247,67,63,2018-06-24,Jason Derulo,Colors,5,63
50248,New,4,2020-03-29,Dardan &amp; Monet192,H &lt;3 T E L,1,4
50249,51,50,2018-10-21,LSD (Labrinth / Sia / Diplo),Thunderclouds,7,50